* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #a1b4c0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;  
}

nav {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

#sketchbook {
    width: 600px;
    height: 450px;
    display: grid;
    grid-template-rows: auto;
    box-shadow: 0 0 15px 5px #13131353;
    background-color: #fff;
}

.pixel {
    background-color: #fff;
}

.blue {
    background-color: #0000ff;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.controls-pixel {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-areas: "pix small medium large xl clear";
}

.pixels {
    text-align: center;
    grid-area: pix;
    align-self: center;
}

#px256 {
    grid-area: small;
}

#px1024 {
    grid-area: medium;
}

#px2916 {
    grid-area: large;
}

#px4900 {
    grid-area: xl;
}

.controls-pixel p,
.controls-color {
    font-size: 18px;
    color: #ffffff;
}

.controls-color label {
    margin-right: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    background-color: #56bbff;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    text-align: center;
}

.btn:hover{
    opacity: 0.6;
}

.current-color {
    background-color: #002239;
    transform: scale(0.9);
}

.clear-btn {
    grid-area: clear;
    background-color: #ff0000;
}

.fa-trash-can {
    color: #ffffff;
    padding-right: 5px;
}

svg {
    cursor: pointer;
}


@media (max-width: 1024px) {
    body {
        height: 100vh;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: #a1b4c0;
    }
}

@media (max-width: 620px) {
    #sketchbook {
        width: 100%;
        height: 300px;
    }

    .btn {
        padding: 0.75rem 2rem;
    }

    .controls-pixel {
        grid-template-areas: "pix pix"
        "small medium"
        "large xl"
        "clear clear";
        gap: 1.5rem;
    }

    .controls-color {
        width: 100%;
        text-align: center;
    }
}